*{
	margin: 0;
	padding: 0;
}

.wrapper{
	margin-top: 30px;
	margin-left: 10px;
	width: 100px;
	padding: 10px;
}

ul{
	list-style-type: none;
}

.first:hover{
	text-decoration: underline;
	cursor: pointer;
}
	
.subList{
	display: none;
	color: grey;
	margin-left: 5px;
}

ul li:hover .subList{
	display: block;
}

a{
	text-decoration: none;
	color: black;
}